h1 API Project: Request Header Parser Microservice
h3 User Story:
ol
    li I can get the IP address, preferred languages (from header Accept-Language) and system infos (from header User-Agent) for my device.
 
h3 Example Usage:
p [base url]/api/whoami

h3 Example Output:

p {"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}